
table {
    border: 1px solid black;
}

th {
    border: 1px solid blue;
    padding: 1rem
}

.deleteButton {
    color: red;
    border: 1px solid blue;
    padding: 1rem
}

.completeButton{
    color: green;
    border: 1px solid blue;
    padding: 1rem
}
.completed{
    background-color: green;
}